<script src="{{'store-locator.js'| asset_url}}" defer></script>
{{ 'store-locator.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .st-bg-color{
    background-color:"{{section.settings.background_color}}"
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="st-bg-color store-locator">
  <div class="page-width section-{{ section.id }}-padding">
    <h2 class="page-title {{ section.settings.heading_size }}">
      {%- if section.settings.heading_title != blank -%}
        {{ section.settings.heading_title | upcase }}
      {%- endif -%}
    </h2>
    <store-locator>
      <div class="select-container">
        <label for="category">
          <select name="slcatid" id="slcatid" >
            <option value="">Select Category</option>
          </select>
        </label>
        <label id="slstatelist">
          <select name="slstate" id="slstate" >
            <option value="">Select State</option>
          </select>
        </label>
        <label id="citylist">
          <select name="slcity" id="slcity">
            <option value="">Select City</option>
          </select>
        </label>
        <label>
          <button class="go-button" type="submit" id="goSubmitButton" >Go</button>
        </label>
      </div>
      <div id="no-found" class="no-found-message"> No information found </div>
      <div id="store-location" class="store-location-details hidden">
        <div class="store-name">C Lal Marketing Pvt Ltd</div>
        <div class="store-location info">Near khera Ambala city Haryana - 134003</div>
        <div class="city-state info">AMBALA, HIMACHAL PRADESH</div>
        <div class="phone-no info">Phone: <span>999999990</span></div>
      </div>
    </store-locator>
  </div>
</div>

{% schema %}
{
  "name": "store-locator",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "label": "Heading title",
      "id": "heading_title",
      "default": "Dealers"
    },
    {
      "type": "header",
      "content": "Paddings"
    },
     {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "max": 100,
        "min": 0,
        "unit": "px",
        "default": 30,
        "step": 1
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "max": 100,
        "min": 0,
        "unit": "px",
        "default": 30,
        "step": 1
      },
    {
      "type": "header",
      "content": "Background color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "color",
      "default": "#fff"
    }
  ],
  "presets": [
    {
      "name": "Store locator"
    }
  ]
}
{% endschema %}
